.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


ul li{
  display:  inline;
  list-style-type: none
}

ul {
  display: flex;
  align-items: flex-end;
  /*background-color: red;*/
  float: right
}
.draggable_child {
  list-style-type: none;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px
}

.logoBlock {
  display: flex;
  margin-top: 10px
}

.logoimage {
  margin-right: 10px
}